<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>🌧🔥🥾</title>
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', path='/favicon.ico') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v2.8.1/mapbox-gl.js"></script>
        <link rel="stylesheet" href="https://api.tiles.mapbox.com/mapbox-gl-js/v2.8.1/mapbox-gl.css" >
        <link rel="stylesheet" href="{{ url_for('static', path='/styles.css') }}">
    </head>
    <body>
        <div id="map"></div>
        <script src="{{ url_for('static', path='/hiking.js') }}"></script>
    </body>
</html>